/* Editor-safe classes - Generated automatically */

.editor-styles-wrapper .p-s,
.block-editor-block-list__block.p-s {
 padding: 0.25rem; }

.editor-styles-wrapper .p-m,
.block-editor-block-list__block.p-m {
 padding: 0.5rem; }

.editor-styles-wrapper .p-l,
.block-editor-block-list__block.p-l {
 padding: var(--wp--preset--spacing--30); }

.editor-styles-wrapper .p-xl,
.block-editor-block-list__block.p-xl {
 padding: var(--wp--preset--spacing--80); }

.editor-styles-wrapper .px-xl,
.block-editor-block-list__block.px-xl {
 padding-inline: var(--wp--preset--spacing--80); }

.editor-styles-wrapper .bg-red,
.block-editor-block-list__block.bg-red {
 background-color: red; }

.editor-styles-wrapper .text-center,
.block-editor-block-list__block.text-center {
 text-align: center; }

.editor-styles-wrapper .flex,
.block-editor-block-list__block.flex {
 display: flex; }

.editor-styles-wrapper .flex-1,
.block-editor-block-list__block.flex-1 {
 flex: 1; }

.editor-styles-wrapper .grid,
.block-editor-block-list__block.grid {
 display: grid; }

.editor-styles-wrapper .grid-1,
.block-editor-block-list__block.grid-1 {
 grid-template-columns: repeat(1, minmax(0, 1fr)); }

.editor-styles-wrapper .grid-2,
.block-editor-block-list__block.grid-2 {
 grid-template-columns: repeat(2, minmax(0, 1fr)); }

.editor-styles-wrapper .grid-3,
.block-editor-block-list__block.grid-3 {
 grid-template-columns: repeat(3, minmax(0, 1fr)); }

.editor-styles-wrapper .grid-4,
.block-editor-block-list__block.grid-4 {
 grid-template-columns: repeat(4, minmax(0, 1fr)); }

.editor-styles-wrapper .gap-10,
.block-editor-block-list__block.gap-10 {
 gap: 10px; }

.editor-styles-wrapper .gap-20,
.block-editor-block-list__block.gap-20 {
 gap: 20px; }

.editor-styles-wrapper .gap-30,
.block-editor-block-list__block.gap-30 {
 gap: 30px; }

.editor-styles-wrapper .gap-40,
.block-editor-block-list__block.gap-40 {
 gap: var(--wp--preset--spacing--40) }

.editor-styles-wrapper .text-white,
.block-editor-block-list__block.text-white {
 color: #ffffff; }

.editor-styles-wrapper .m-p-l,
.block-editor-block-list__block.m-p-l {
 padding: 2rem; }

.editor-styles-wrapper .m-gap-20,
.block-editor-block-list__block.m-gap-20 {
 gap: 20px; }

.editor-styles-wrapper .s-p-m,
.block-editor-block-list__block.s-p-m {
 padding: 1rem; }

.editor-styles-wrapper .s-gap-10,
.block-editor-block-list__block.s-gap-10 {
 gap: 10px; }

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

